.center{
	margin:0px auto;
}
.w960{
	width:960px;
	/*position:relative;*/
}
.clear{
	overflow:hidden;
}
.mt1{/* ( margin-top * 1 ) */
	margin-top:8px;
}
.sp-title{
	color:#888;
	padding:0px 12px;
	border-top:1px solid #EAEAEA;
	border-bottom:1px solid #EAEAEA;
	background:#f3fbea url(../images/search-top-bg.gif) repeat-x scroll;
	margin-bottom:8px;
}
.sp-title h2{
	font-size:14px;
	line-height:27px;	
}
.sp-title h2 a{
	margin-left:6px;
	color:#03541F;
}
.sp-title .more{
	float:right;
	margin:-27px 0px;
	line-height:27px;
}
.linkbox {
	padding: 10px 8px;
	border-bottom: 1px solid #EEE;
}
.linkbox h3, .linkbox h3 a {
	font-size: 14px;
	color: #693;
}
.f6 {
	width: 100%;
	overflow: hidden;
	clear: both;
	padding-bottom: 10px;
}
.f6 li {
	float: left;
	line-height: 14px;
	padding: 8px 10px 0px;
	white-space: nowrap;
}
.f6 li a {
	color: #666666;
	float: left;
}