img{border:0px;}
.f12 {
	FONT-SIZE: 12px; COLOR: #4c4c4c; LINE-HEIGHT: 22px
}
.f12-0 {
	FONT-SIZE: 12px; COLOR: #4c4c4c
}
.f12b {
	FONT-SIZE: 12px; FONT-WEIGHT: bold; COLOR: #4c4c4c; LINE-HEIGHT: 25px
}
.f12b2 {
	FONT-SIZE: 12px; FONT-WEIGHT: bold; COLOR: #000000; LINE-HEIGHT: 16px
}
.f13 {
	FONT-SIZE: 14px; FONT-WEIGHT: bold; COLOR: #4c4c4c; LINE-HEIGHT: 16px
}
.f14 {
	 font-family: "Î¢ÈíÑÅºÚ"; FONT-WEIGHT: bold;  FONT-SIZE: 14px; COLOR: #333333
}
.f14_red {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #ff0000
}
.f12_black {
	FONT-WEIGHT: normal;  LINE-HEIGHT: 18px; FONT-SIZE: 12px; COLOR: #000000
}
.f12_black a {
	FONT-WEIGHT: normal;  LINE-HEIGHT: 18px; FONT-SIZE: 12px; COLOR: #000000;TEXT-DECORATION: none
}
.f14_white {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ffffff
}
.f14_white2 {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #ffffff
}
.f12_white {
	FONT-SIZE: 12px; COLOR: #ffffff; font-family:"ËÎÌå","Arial Narrow"
}
.f12_white1 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff
}
.f14_blue {
	FONT-SIZE: 14px; COLOR: #00279f
}
.f14_hui {
	FONT-SIZE: 14px; COLOR: #BDBDBD }
.f14_blue2 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #00279f
}
.f14_black {
	FONT-SIZE: 14px; COLOR: #333333; LINE-HEIGHT: 24px
}
.f12_date {
	FONT: 11px Tahoma, Verdana; COLOR: #999999
}
.f12_red {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #cc0000
}
.f12_red1 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #cc0000
}
.f12_blue1 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #051e70
}
.f12_blue2 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #86A0CE
}
.f20_biaoti {
	FONT-WEIGHT: bold; FONT-SIZE: 20px; COLOR: #cc0000
}
.f14_biaoti {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; LINE-HEIGHT: 20px; COLOR: #cc0000
}
.f14_biaoti2 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; LINE-HEIGHT: 20px; COLOR: #F88803
}
.f14_biaoti2 a{
	FONT-WEIGHT: bold; FONT-SIZE: 14px; LINE-HEIGHT: 20px; COLOR: #F88803; TEXT-DECORATION: none
}
.f14_gray {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ffffff
}
.f18_black {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #333333
}
.f14p {
	  FONT-WEIGHT: bold;  FONT-SIZE: 14px; COLOR: #333333
}
.f14 {
	 font-family: "Î¢ÈíÑÅºÚ"; FONT-WEIGHT: bold;  FONT-SIZE: 14px; COLOR: #333333
}
.f18 {
	 font-family: "Î¢ÈíÑÅºÚ"; FONT-WEIGHT: bold;  FONT-SIZE: 18px; COLOR: #333333
}
BODY {
	MARGIN: 0px; BACKGROUND-COLOR: #ffffff
}
A.zhengwen:link {
	FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: 23px; TEXT-DECORATION: none
}
A.zhengwen:visited {
	FONT-SIZE: 12px; COLOR: #a56262; LINE-HEIGHT: 23px; TEXT-DECORATION: none
}
A.zhengwen:hover {
	FONT-SIZE: 12px; COLOR: #b71c1c; LINE-HEIGHT: 23px; TEXT-DECORATION: none
}
A.gengduo:link {
	FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: 14px
}
A.gengduo:visited {
	FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: 14px
}
A.gengduo:hover {
	FONT-SIZE: 12px; COLOR: #ff0000; LINE-HEIGHT: 14px
}
A.daohang:link {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 14px; TEXT-DECORATION: none
}
A.daohang:visited {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 14px; TEXT-DECORATION: none
}
A.daohang:hover {
	FONT-SIZE: 12px; COLOR: #ffcb05; LINE-HEIGHT: 14px; TEXT-DECORATION: none
}
A.daohang1:link {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 14px; TEXT-DECORATION: none
}
A.daohang1:visited {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 14px; TEXT-DECORATION: none
}
A.daohang1:hover {
	FONT-SIZE: 12px; COLOR: #0035e2; LINE-HEIGHT: 14px; TEXT-DECORATION: none
}
A.dangqian:link {
	FONT-SIZE: 12px; COLOR: #5a7d9c; LINE-HEIGHT: 14px; TEXT-DECORATION: none
}
A.dangqian:visited {
	FONT-SIZE: 12px; COLOR: #5a7d9c; LINE-HEIGHT: 14px; TEXT-DECORATION: none
}
A.dangqian:hover {
	FONT-SIZE: 12px; COLOR: #007eff; LINE-HEIGHT: 14px; TEXT-DECORATION: underline
}
A.zhuanti:link {
	FONT-SIZE: 14px; COLOR: #ff0000; LINE-HEIGHT: 14px; TEXT-DECORATION: underline
}
A.zhuanti:visited {
	FONT-SIZE: 14px; COLOR: #ff0000; LINE-HEIGHT: 14px; TEXT-DECORATION: underline
}
A.zhuanti:hover {
	FONT-SIZE: 14px; COLOR: #ff0000; LINE-HEIGHT: 14px; TEXT-DECORATION: underline
}
A.gengduo1:link {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #cc0000; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
A.gengduo1:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #cc0000; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
A.gengduo1:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #cc0000; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
A.gengduo2:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #cc0000; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
A.gengduo2:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #cc0000; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
A.gengduo2:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #cc0000; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
A.gengduo3:link {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ff6600; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
A.gengduo3:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ff6600; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
A.gengduo3:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ff6600; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
A.gengduo3-1:link {
	FONT-SIZE: 14px; COLOR: #ff6600; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
A.gengduo3-1:visited {
	FONT-SIZE: 14px; COLOR: #ff6600; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
A.gengduo3-1:hover {
	FONT-SIZE: 14px; COLOR: #ff6600; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
A.gengduo4:link {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #183F85; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
A.gengduo4:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #183F85; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
A.gengduo4:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #183F85; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
A.gengduo5:link {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #037CDA; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
A.gengduo5:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #037CDA; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
A.gengduo5:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #037CDA; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
A.newstiao:link {
	FONT-SIZE: 14px; COLOR: #00279f; LINE-HEIGHT: normal; TEXT-DECORATION: underline
}
A.newstiao:visited {
	FONT-SIZE: 14px; COLOR: #00279f; LINE-HEIGHT: normal; TEXT-DECORATION: underline
}
A.newstiao:hover {
	FONT-SIZE: 14px; COLOR: #ff0000; LINE-HEIGHT: normal; TEXT-DECORATION: underline
}
A.newstiao2:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #00279f; LINE-HEIGHT: normal; TEXT-DECORATION: underline
}
A.newstiao2:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #00279f; LINE-HEIGHT: normal; TEXT-DECORATION: underline
}
A.newstiao2:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff0000; LINE-HEIGHT: normal; TEXT-DECORATION: underline
}
A.newstiao2-2:link {
	FONT-SIZE: 12px; COLOR: #00279f; LINE-HEIGHT: normal; TEXT-DECORATION: underline
}
A.newstiao2-2:visited {
	FONT-SIZE: 12px; COLOR: #00279f; LINE-HEIGHT: normal; TEXT-DECORATION: underline
}
A.newstiao2-2:hover {
	FONT-SIZE: 12px; COLOR: #ff0000; LINE-HEIGHT: normal; TEXT-DECORATION: underline
}
A.newstiao3:link {
	FONT-SIZE: 12px; COLOR: #4c4c4c; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
A.newstiao3:visited {
	FONT-SIZE: 12px; COLOR: #4c4c4c; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
A.newstiao3:hover {
	FONT-SIZE: 12px; COLOR: #ff0000; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
A.newstiao3-1:link {
	FONT-SIZE: 12px; COLOR: #E3E7EE; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
A.newstiao3-1:visited {
	FONT-SIZE: 12px; COLOR: #E3E7EE; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
A.newstiao3-1:hover {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
A.newstiao4:link {
	FONT-SIZE: 12px; COLOR: #4c4c4c; LINE-HEIGHT: normal; TEXT-DECORATION: underline
}
A.newstiao4:visited {
	FONT-SIZE: 12px; COLOR: #4c4c4c; LINE-HEIGHT: normal; TEXT-DECORATION: underline
}
A.newstiao4:hover {
	FONT-SIZE: 12px; COLOR: #ff0000; LINE-HEIGHT: normal; TEXT-DECORATION: underline
}
A.newstiao4-0:link {
	FONT-SIZE: 14px; COLOR: #006699; LINE-HEIGHT: normal; TEXT-DECORATION: underline
}
A.newstiao4-0:visited {
	FONT-SIZE: 14px; COLOR: #006699; LINE-HEIGHT: normal; TEXT-DECORATION: underline
}
A.newstiao4-0:hover {
	FONT-SIZE: 14px; COLOR: #ff0000; LINE-HEIGHT: normal; TEXT-DECORATION: underline
}
A.newstiao5:link {
	FONT-SIZE: 12px; COLOR: #0453ac; LINE-HEIGHT: normal; TEXT-DECORATION: underline
}
A.newstiao5:visited {
	FONT-SIZE: 12px; COLOR: #0453ac; LINE-HEIGHT: normal; TEXT-DECORATION: underline
}
A.newstiao5:hover {
	FONT-SIZE: 12px; COLOR: #ff0000; LINE-HEIGHT: normal; TEXT-DECORATION: underline
}
A.newstiao5-1:link {
	FONT-SIZE: 12px; COLOR: #0453ac; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
A.newstiao5-1:visited {
	FONT-SIZE: 12px; COLOR: #0453ac; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
A.newstiao5-1:hover {
	FONT-SIZE: 12px; COLOR: #ff0000; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
A.newstiao6:link {
	FONT-SIZE: 12px; COLOR: #ff0000; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
A.newstiao6:visited {
	FONT-SIZE: 12px; COLOR: #ff0000; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
A.newstiao6:hover {
	FONT-SIZE: 12px; COLOR: #ff0000; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
A.newstiao7:link {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: normal; TEXT-DECORATION: underline
}
A.newstiao7:visited {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: normal; TEXT-DECORATION: underline
}
A.newstiao7:hover {
	FONT-SIZE: 12px; COLOR: #FFCC66; LINE-HEIGHT: normal; TEXT-DECORATION: underline
}
A.newstiao7-1:link {
	FONT-SIZE: 14px; COLOR: #ffffff; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
A.newstiao7-1:visited {
	FONT-SIZE: 14px; COLOR: #ffffff; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
A.newstiao7-1:hover {
	FONT-SIZE: 14px; COLOR: #FFCC66; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
A.newstiao8:link {
	FONT-SIZE: 14px; FONT-WEIGHT: bold; COLOR: #00279f; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
A.newstiao8:visited {
	FONT-SIZE: 14px; FONT-WEIGHT: bold; COLOR: #00279f; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
A.newstiao8:hover {
	FONT-SIZE: 14px; FONT-WEIGHT: bold; COLOR: #ff0000; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
A.newstiao8-bold:link {
	FONT-SIZE: 20px; font-family: "ºÚÌå"; COLOR: #00279f; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
A.newstiao8-bold:visited {
	FONT-SIZE: 20px; font-family: "ºÚÌå"; COLOR: #00279f; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
A.newstiao8-bold:hover {
	FONT-SIZE: 20px; font-family: "ºÚÌå"; COLOR: #ff0000; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
A.newstiao9:link {
	FONT-SIZE: 14px; COLOR: #595454; LINE-HEIGHT: normal; TEXT-DECORATION: underline
}
A.newstiao9:visited {
	FONT-SIZE: 14px; COLOR: #595454; LINE-HEIGHT: normal; TEXT-DECORATION: underline
}
A.newstiao9:hover {
	FONT-SIZE: 14px; COLOR: #ff0000; LINE-HEIGHT: normal; TEXT-DECORATION: underline
}
A.newstiao4-1:link {
	FONT-SIZE: 14px; COLOR: #024783; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
A.newstiao4-1:visited {
	FONT-SIZE: 14px; COLOR: #024783; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
A.newstiao4-1:hover {
	FONT-SIZE: 14px; COLOR: #024783; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
A.chaxun:link {
	FONT-SIZE: 14px; COLOR: #183F85; LINE-HEIGHT: normal; LINE-HEIGHT: 22px; TEXT-DECORATION: none
}
A.chaxun:visited {
	FONT-SIZE: 14px; COLOR: #183F85; LINE-HEIGHT: normal; LINE-HEIGHT: 22px; TEXT-DECORATION: none
}
A.chaxun:hover {
	FONT-SIZE: 14px; COLOR: #183F85; LINE-HEIGHT: normal; LINE-HEIGHT: 22px; TEXT-DECORATION: none
}

A.banquan:link {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #333333; LINE-HEIGHT: 24px; TEXT-DECORATION: none
}
A.banquan:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #333333; LINE-HEIGHT: 24px; TEXT-DECORATION: none
}
A.banquan:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #b71c1c; LINE-HEIGHT: 24px; TEXT-DECORATION: underline
}

.zhuanlan12 {
	FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: 20px
}
.zhuanlan12red {
	FONT-SIZE: 14px; COLOR: #ff0000; LINE-HEIGHT: 21px
}
.zhuanlan12redB {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #555555; LINE-HEIGHT: 20px
}
A.search:link {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; LINE-HEIGHT: 24px; TEXT-DECORATION: underline
}
A.search:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; LINE-HEIGHT: 24px; TEXT-DECORATION: underline
}
A.search:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; LINE-HEIGHT: 24px; TEXT-DECORATION: underline
}
A.index:link {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000; LINE-HEIGHT: 24px; TEXT-DECORATION: none
}
A.index:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ffffff; LINE-HEIGHT: 24px; TEXT-DECORATION: none
}
A.index:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ffffff; LINE-HEIGHT: 24px; TEXT-DECORATION: underline
}
A.index3:link {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #0A60C1; LINE-HEIGHT: 24px; TEXT-DECORATION: underline
}
A.index3:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #0A60C1; LINE-HEIGHT: 24px; TEXT-DECORATION: underline
}
A.index3:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #A50505; LINE-HEIGHT: 24px; TEXT-DECORATION: underline
}

A.gai:link {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #0000ff; LINE-HEIGHT: 20px; TEXT-DECORATION: none
}
A.gai:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #0000ff; LINE-HEIGHT: 20px; TEXT-DECORATION: none
}
A.gai:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #0000ff; LINE-HEIGHT: 20px; TEXT-DECORATION: underline
}
A.gaired:link {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ff0000; LINE-HEIGHT: 20px; TEXT-DECORATION: underline
}
A.gaired:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ff0000; LINE-HEIGHT: 20px; TEXT-DECORATION: underline
}
A.gaired:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ff0000; LINE-HEIGHT: 20px; TEXT-DECORATION: none
}
.f12g {
	FONT-SIZE: 12px; COLOR: #333333; LINE-HEIGHT: 22px;word-break:break-all;
}
.f12g a{
	FONT-SIZE: 12px; COLOR: #333333; LINE-HEIGHT: 22px;word-break:break-all;TEXT-DECORATION: none;white-space:nowrap;
}

A.dr-index:link {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #145598; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
A.dr-index:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #145598; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
A.dr-index:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #4E8BCA; LINE-HEIGHT: normal; TEXT-DECORATION: none
}

.clssMainRoll {
	FILTER: progid:DXImageTransform.Microsoft.Slide(slidestyle=SWAP,Bands=1); CURSOR: pointer
}

.tb_page
{
	background-color:#cccccc;
	margin-top: 6px;
	width: 97%;
}

.td_title
{
	font-weight: bold; 
	font-size: 12px;
	color: #0377ad;
	background-color:#F1F4F6;
	height:25px;
}

.b_tab_0{background-image:url(../images/b_tab_0.gif);background-repeat:no-repeat;}
.b_tab_0 .left{width:50%;text-align:center;font-weight:bold;padding-top:4px;color:#ff0000;}
.b_tab_0 .right{width:50%;text-align:center;font-weight:bold;padding-top:4px;color:#35519A;}
.b_tab_1{background-image:url(../images/b_tab_1.gif);background-repeat:no-repeat;}
.b_tab_1 .left{width:50%;text-align:center;font-weight:bold;padding-top:4px;color:#35519A;}
.b_tab_1 .right{width:50%;text-align:center;font-weight:bold;padding-top:4px;color:#ff0000;}

.s_tab_0{background-image:url(../images/s_tab_0.gif);background-repeat:no-repeat;}
.s_tab_0 .left{width:50%;text-align:center;font-weight:bold;padding-top:4px;color:#ff0000;}
.s_tab_0 .right{width:50%;text-align:center;font-weight:bold;padding-top:4px;color:#35519A;}
.s_tab_1{background-image:url(../images/s_tab_1.gif);background-repeat:no-repeat;}
.s_tab_1 .left{width:50%;text-align:center;font-weight:bold;padding-top:4px;color:#35519A;}
.s_tab_1 .right{width:50%;text-align:center;font-weight:bold;padding-top:4px;color:#ff0000;}

/*Select*/


.Select {line-height:15px;background:#4598D2;color:#fff;margin-top:4px;margin-bottom:4px;}

A.yys-12b:link { font-weight: bold; FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 23px;  TEXT-DECORATION: none }
A.yys-12b:visited { font-weight: bold; FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 23px; TEXT-DECORATION: none }
A.yys-12b:hover { font-weight: bold; FONT-SIZE: 12px; COLOR: #4E4E4E; LINE-HEIGHT: 23px; TEXT-DECORATION: none }

.yys-12s{ FONT-SIZE: 12px; COLOR: #434343; LINE-HEIGHT: normal; TEXT-DECORATION: none }
A.yys-12s:link { FONT-SIZE: 12px; COLOR: #434343; LINE-HEIGHT: normal; TEXT-DECORATION: none }
A.yys-12s:visited { FONT-SIZE: 12px; COLOR: #434343; LINE-HEIGHT: normal; TEXT-DECORATION: none }
A.yys-12s:hover { FONT-SIZE: 12px; COLOR: #4E4E4E; LINE-HEIGHT: normal; TEXT-DECORATION: none }

A.yys-14l:link { FONT-SIZE: 14px; COLOR: #000000; LINE-HEIGHT: normal; TEXT-DECORATION: none ;}
A.yys-14l:visited { FONT-SIZE: 14px; COLOR: #000000; LINE-HEIGHT: normal; TEXT-DECORATION: none;}
A.yys-14l:hover { FONT-SIZE: 14px; COLOR: #ff0000; LINE-HEIGHT: normal; TEXT-DECORATION: none;}

.yys-14y { font-weight: bold; FONT-SIZE: 14px; COLOR: #FFFFFF; LINE-HEIGHT: normal; TEXT-DECORATION: none }
A.yys-14y:link { font-weight: bold; FONT-SIZE: 14px; COLOR: #FFFFFF; LINE-HEIGHT: normal; TEXT-DECORATION: none }
A.yys-14y:visited { font-weight: bold; FONT-SIZE: 14px; COLOR: #FFFFFF; LINE-HEIGHT: normal; TEXT-DECORATION: none }
A.yys-14y:hover { font-weight: bold; FONT-SIZE: 14px; COLOR: #FCE310; LINE-HEIGHT: normal; TEXT-DECORATION: none }
.AppCatalist ul{ width:200px; float:left;}
.AppCatalist ul li{width:100px; float:left; list-style:none; line-height:30px;height:25px;}
ul,li{margin: 0; padding: 0; border: 0;}
 .RPCataloAppList ul{width:720px; float:left; padding-left:10px;display:inline;}
	.RPCataloAppList ul li{float:left; width:112px; list-style:none; height:115px; margin-top:0px; margin-left:8px; padding-top:20px;display:inline;}

 .RPAppList ul{width:720px; float:left; padding-left:10px;display:inline;}
	.RPAppList ul li{float:left; width:700px; list-style:none; height:115px; margin-top:0px; margin-left:8px; padding-top:20px;display:inline;}
#Pager{FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: normal; TEXT-DECORATION: none}
#Pager span{COLOR: #000000;padding-top:2px; padding-left:5px; padding-bottom:2px; padding-right:5px;border:1px solid #cacaca;background-color:#696969; }
#Pager A{COLOR: #000000;FONT-SIZE: 12px;margin:5px; padding-top:2px; padding-left:5px; padding-bottom:2px; padding-right:5px;border:1px solid #cacaca; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
#Pager A:link{COLOR: #000000;FONT-SIZE: 12px; margin:5px;border:1px solid #cacaca; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
#Pager A:visited{COLOR: #000000;FONT-SIZE: 12px; margin:5px;border:1px solid #cacaca; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
#Pager A:hover{COLOR: #000000;FONT-SIZE: 12px; margin:5px;border:1px solid #cacaca; background-color:#696969; LINE-HEIGHT: normal; TEXT-DECORATION: none
}

.f14 A:link{
	 font-family: "Î¢ÈíÑÅºÚ"; FONT-WEIGHT: bold;  FONT-SIZE: 14px; COLOR: #333333;TEXT-DECORATION: none
}
.f14 A:visited{
	 font-family: "Î¢ÈíÑÅºÚ"; FONT-WEIGHT: bold;  FONT-SIZE: 14px; COLOR: #333333;TEXT-DECORATION: none
}
.f14 A:hover{
	 font-family: "Î¢ÈíÑÅºÚ"; FONT-WEIGHT: bold;  FONT-SIZE: 14px; COLOR: #333333;TEXT-DECORATION: none
}
.f14 A{margin-left:5px; margin-right:5px;}
.f13 A:link{
	FONT-SIZE: 14px; FONT-WEIGHT: bold; COLOR: #4c4c4c; LINE-HEIGHT: 16px;TEXT-DECORATION: none
}
.f13 A:visited{
	FONT-SIZE: 14px; FONT-WEIGHT: bold; COLOR: #4c4c4c; LINE-HEIGHT: 16px;TEXT-DECORATION: none
}
.f13 A:hover{
	FONT-SIZE: 14px; FONT-WEIGHT: bold; COLOR: #4c4c4c; LINE-HEIGHT: 16px;TEXT-DECORATION: none
}
 
.infocontent ul {
	list-style:none;
	height:117px;
	margin:0;
	padding:0;
}
.infocontent li {
	list-style:none;
	width:93px;
	height:48px;
	float:left;
	padding-top:0px;
}
.infocontent li p {
	text-align:center;
	color:#CCC;
	font-size:12px;
	height:48px;
	margin:0px;
	padding-top:13px;
	line-height:18px;
}

.infocontent li p img{
	border:0px;
	width:72px;
	height:72px;
}
#id1 img{	border:0px;
	width:48px;
	height:48px;}
#id2 img{	border:0px;
	width:48px;
	height:48px;}
#id3 img{	border:0px;
	width:48px;
	height:48px;}

.infocontent {
	width:750px;
	height:351px;
	border:0px;
	margin:0px;
	padding:0px;
	overflow:hidden;
	position:relative;
	z-index:98;
	background:url(../images/000-bg-001.png) repeat;
}
.zhezhao {
	position:absolute;
	z-index:99;
	background:#ccc;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	opacity: 0.5;
	width:750px;
	height:351px;
	display:none;
}
#sanjiao
{
	margin:0px;
	padding:0px;
	position:absolute;
	width:24px;
	height:12px;
	z-index:101;
	top:90px;
	left:36px;
	background:url(../images/000-bg-003.png) repeat;
	display:none;
}
.topImg {
	position:absolute;
	width:750px;
	height:138px;
	z-index:100;
	top:101px;
	 
	text-align:center;
	display:none;
}
.topImg ul {
	list-style:none;
	height:138px;
	width:750px;
	margin:0;
	padding:0;
	background:url(../images/000-bg-002.png) repeat;
	 
}
.topImg li {
	list-style:none;
	width:125px;
	height:118px;
	line-height:20px;
	float:left;
	padding-top:20px;
}
.topImg li p {
    height:40px;
	text-align:center;
	color:#CCC;
	font-size:12px;
	padding:0px;
	margin:0px;
}
.infocontent li .topImgbj{
	text-align:center;
	color:#CCC;
	font-size:12px;
	padding:0px;
	margin:0px;
	width:125px; 
	height:80px;
	}
body {
	background-image: url(../images/yingyong-so_bg2.gif);
}
.mL{float:left;width:750px; font-size:12px;font-family:simsun; }
.focus_img{height:366px;background:url(../images/m_cl_001.gif) repeat-x;border:1px solid #d4d4d4;overflow:hidden; zoom:1;}
.focus_img .big_area{float:left;width:545px; height:360px;border:3px solid #8B8B8B;position:relative;overflow:hidden;margin:0px;display:inline;}
.focus_img .big_area h3{position:absolute;left:0;bottom:0;width:545px;height:32px;line-height:34px;   text-align:center;font-family:ºÚÌå;font-size:18px;color:#000;font-weight:normal;overflow:hidden; margin:0;}
.focus_img .big_area img{filter:revealTrans(duration=1,transition=5);}
.focus_img .big_area .titlebg{background:#fff;opacity:0.6;filter:alpha(opacity=60);position:absolute;left:0px;bottom:0px;height:32px;width:545px; }
.focus_img .thurmb{float:right;width:186px;  padding:2px 8px 2px 0; height:364px;}
.focus_img .thurmb .small_div{overflow:hidden; width:186px;height:118px;cursor:pointer;margin-top:2px;}
.focus_img .thurmb .selected{background:url(../images/m_cl_002-00.gif) no-repeat;}
.focus_img .thurmb .selected img{border:1px solid #737373;}
.focus_img .thurmb .selected a:link { FONT-SIZE: 12px; COLOR: #FFFFFF; LINE-HEIGHT: normal; TEXT-DECORATION: none}
.focus_img .thurmb .selected a:visited { FONT-SIZE: 12px; COLOR: #FFFFFF; LINE-HEIGHT: normal; TEXT-DECORATION: none}
.focus_img .thurmb .selected a:hover { FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: normal; TEXT-DECORATION: none}
.focus_img .thurmb img{float:left;height:109px;width:182px; border:1px solid #737373;display:inline;margin:4px 0 0 4px;}
.focus_img .thurmb .small_div span{display:block;margin-left:103px;padding:5px 0 0 4px;line-height:19px;   }
.focus_img .big_area h3 a{font-family:ºÚÌå;color:#000;TEXT-DECORATION: none}
.updateapp img,.RPCataloAppList img{width:72px; height:72px;}

.screenshots-container{
   overflow: visible;overflow-x:auto;overflow-y:hidden;
   width: 680px;
}
.screenshots-container td{
	padding: 0 5px;
}
#screenTable{
	*margin-bottom: 20px;
}
.screenshots-container::-webkit-scrollbar {  
    height: 18px;  
     -webkit-border-radius: 9px; 
     background: #eee;
    }  
.screenshots-container::-webkit-scrollbar-thumb {  
    background: #ccc -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(230, 230, 230)), to(rgb(200, 200, 200)));  
       -webkit-border-radius: 9px;  
}  
.portal-item-screenshot img{
	cursor: pointer;
}
ul,li{margin: 0; padding: 0; border: 0;}
.rating-level,
.rating-level a {
    background: url(../images/star_v2.png) no-repeat scroll 1000px 1000px;
}
.rating-level {
    background-position: 0px 0px;
    width: 120px;
    height: 23px;
    position: relative;
    z-index: 1000;
}
.rating-level li {
    display: inline;
}
.rating-level a {
    line-height: 23px;
    height: 23px;
    position: absolute;
    top: 0px;
    left: 0px;
    text-indent: -999em;
    *zoom: 1;
    outline: none;
}
.rating-level a.one-star {
    width: 20%;
    z-index: 6;
}
.rating-level a.two-stars {
width: 40%;
z-index: 5;
}
.rating-level a.three-stars {
    width: 60%;
    z-index: 4;
}
.rating-level a.four-stars {
    width: 80%;
    z-index: 3;
}
.rating-level a.five-stars {
    width: 100%;
    z-index: 2;
}
.rating-level .current-rating,.rating-level a:hover{background-position:0 -28px;}

#newsleft{ width:728px;float:left; margin:0px; padding-bottom:8px;display:inline; padding-left:20px; font-size:12px;}
.list1{
   width:700px;
   float:left;
}
.list1 span{font-family: "Î¢ÈíÑÅºÚ"; line-height:25px; height:25px; padding-top:5px;font-size:18px; color:#cc0000;}
.list1 span a{font-family: "Î¢ÈíÑÅºÚ"; font-size:18px; color:#cc0000;text-decoration:none;}
.list1 span img{margin-top:12px;}
.list1{padding-top:5px; }
.list2{
   width:700px;
   float:left;
   padding-top:15px;
   padding-bottom:15px;
   padding-left:20px;
   line-height:200%;
   color:#000000;
font-size:14px; font-family: "Î¢ÈíÑÅºÚ"; 
word-break: break-all; word-wrap: break-word;
}
.list2 p{font-size:14px; font-family: "Î¢ÈíÑÅºÚ"; }
.list3{
   width:470px;
   float:right;
   padding-top:5px;
   padding-bottom:5px;
   padding-right:10px;
   border-bottom:1px solid #C2D4DE; 
   text-align:right;
   color:#7D7D7D;
   font-family:"Microsoft YaHei", "ËÎÌå", "Arial Narrow";
}
.list4{
   width:720px;
   float:left;
}
.list4 span{float:right; width:70px;}
.list4 a{ text-decoration:underline; color:#000;}
.newsbottom{margin:0 auto; width:600px; margin-top:5px; text-align:center; padding-top:15px;}
.newsbottom a{COLOR: #000000;FONT-SIZE: 12px;margin:5px; padding-top:2px; padding-left:5px; padding-bottom:2px; padding-right:5px;border:1px solid #cacaca; LINE-HEIGHT: normal; TEXT-DECORATION: none}
.newsbottom A:link{COLOR: #000000;FONT-SIZE: 12px; margin:5px;border:1px solid #cacaca; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
.newsbottom A:visited{COLOR: #000000;FONT-SIZE: 12px; margin:5px;border:1px solid #cacaca; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
.newsbottom A:hover{COLOR: #000000;FONT-SIZE: 12px; margin:5px;border:1px solid #cacaca; background-color:#696969; LINE-HEIGHT: normal; TEXT-DECORATION: none}
.current{background-color:#696969;}
.backToTop {
	left:50%;
    display: none;
    width: 30px;
	height:107px;
	background: url(../images/fanhui001.png) no-repeat;
    position: fixed;
    _position: absolute;
	margin-left:500px;
    bottom: 100px;
    _bottom: "auto";
    cursor: pointer;
    opacity: .6;
    filter: Alpha(opacity=60);
}